/*========================================== MASTER STYLESHEET ===========================================================

Project : RAACK SITE TEMPLATE 
Version : 1.0 
Primary Use : RAACK SITE TEMPLATE

==========================================================================================================================*/

/*========================================== LAYOUT ===================================================================

1.GLOBAL CSS 
2.COMMON CSS 
3.BUTTON 
4.NAVIGATION 
5.HEADER 
6.COUNTER 
7.HOME ACADEMY
8.HOME VIDEO
9.PHILOSOPHY
10.CLIENT
11.CTA
12.TESTIMONIAL
13.FORM
14.CONTACT
15.FRANCHISE
16.CAREERS
17.FACULTIES TRAINING ACADEMY
18.
19.GALLERY
20.STUDIOS
21.COURSES
22.SINGLE COURSES
23.MEDIA QUERIES


======================================================================================================================*/

/*========================================== COLOR CODES ===============================================================

Primary Background:#ffffff [White] 
Secondary Background:#f5f5f5 [Gray] 
Theme Color :#EC1D25 [Red] 
Content Color :#424242 [Black] 
Button bg Color :#EC1D25 [Red]

================================================================================================================*/

/*========================================== TYPOGRAPHY =====================================================

Heading:font-family: 'Montserrat', sans-serif;
Body :font-family: 'Montserrat', sans-serif;

====================================================================================================================*/

/*========================================== 1.GLOBAL CSS START ===========================================*/
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
*/
body {
	background: #ffffff;
	color: #4b5563;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	margin: 0 auto;
	max-width: 100%;
}

p {
	margin-bottom: 0px;
	color: #111827;
}

h1 {
	color: #FFF;
	font-family: 'Montserrat';
	font-size: 55px;
	font-style: normal;
	font-weight: 900;
	line-height: 55px;
	letter-spacing: 1px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	color: #111827;
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 0;
	line-height: 60px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: #111827;
	font-size: 42px;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 45px;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	color: #111827;
	font-size: 35px;
	font-weight:800;
	letter-spacing: 0;
	line-height: 35px;
}

h5 {
	font-family: 'Montserrat';
	color: #111827;
	font-size: 25px;
	font-style: normal;
	font-weight: 900;
	line-height: 25px;
	/* 37.802px */
	letter-spacing: 1px;
}

h6 {
	font-family: 'Montserrat', sans-serif;
	color: #424242;
	font-size: 22px;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 22px;
}

.normal-p {
	font-size: 16px;
	line-height: 26px;
}
/* SAFARI CLASS */

.rowsafari {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

a {
	color: #424242;
	text-decoration: none;
}

.headerfont p{
	font-size: 12px;
}

a:hover {
	color: #EC1D25;
	text-decoration: none !important;
	outline: none !important;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	color: #424242;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0px;
}

.animate-scroll {
	opacity: 0;
}
/*
iframe {
	border: none;
	width: 100%;
	height: 100vh;
}
*/
.text-gray-clr {
	color: #666666;
}
/*========================== 1.GLOBAL CSS END =====================*/

/*========================= 2.COMMON CSS START =============================*/
.loader {
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-50px);
	display: table;
	margin: 0 auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
.font-weight300 {
	font-weight: 300 !important;
}
.font-weight400 {
	font-weight: 400;
}
.font-weight600 {
	font-weight: 600;
}
.font-weight100 {
	font-weight: 100;
}
.font-weight900 {
	font-weight: 900 !important;
}
.float-right {
	float: right;
}

.float-left {
	float: left;
}

.floral-space {
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #363636;
}

.section-space {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section-margin-bottom {
	margin-bottom: 15px;
}

.img-margin-bottom {
	margin-bottom: 25px;
}

.section-padding-bottom {
	padding-bottom: 30px;
}

.section-white-bg {
	background-color: #ffffff;
}

.section-gray-bg {
	background-color: #FFF4F4;
}

.section-dark-bg {
	background-color: #333333;
}

.intro-content {
	color: #4b5563;
	font-family: 'Montserrat';
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
}

.section-heading {
	padding-bottom: 50px;
}

.letter-spacing {
	letter-spacing: 1px;
}

.theme-color {
	color: #EC1D25;
}

.theme-color {
	fill: #EC1D25;
}
.txt-dark {
	color: #111827;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
	max-width: 1280px;
}

.display-table {
	display: table;
}

.pt-50 {
	padding-top: 50px;
}

.pb-50 {
	padding-bottom: 50px;
}
.com-ul-img {
	top: -25px;
  position: relative;
  left: -57px;
}
.client-logo-slider .course-ul-img-right {
  position: absolute;
  right: 262px;
  margin-top: -15px;
}
.pt-0{
	padding-top: 0;
}
/*======================== 2.COMMON CSS END ================================*/

/*========================== 3.BUTTON START ============================*/

.primary-btn {
	background: linear-gradient(265.24deg, #f61f62 -6.5%, #fc1111 53.28%, #b100ef 102.57%), #d3104d;
	background-position: 0 0;
	background-size: 100% 100%;
	box-shadow: 0 20px 68px rgba(230, 0, 72, .23);
	border-radius: 66px;
	color: #fff;
	fill: #fff;
	display: inline-block;
	font-size: 16px;
	line-height: 26px;
	font-weight: 900;
	padding: 10px 20px !important;
	position: relative;
	text-decoration: none;
	transition: all .7s ease;
	z-index: 1;
	border: 0;
	text-align: center;
}

.primary-btn:hover {
	background-position: 100% 0;
	background-size: 300% 100%;
	box-shadow: none;
	color: #fff;
}

.transparent-btn {
	display: inline-block;
	text-align: center;
	font-size: 16px;
	font-weight: 900;
	color: #ffffff;
	padding: 10px 20px !important;
	transition: all 0.3s ease-in;
	letter-spacing: 1px;
	border: 2px solid #ffffff;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Montserrat';
	border-radius: 66px;
	min-width: 250px;
	fill: #ffffff;
	text-transform: uppercase;
	text-align: center;
}

.transparent-btn:hover {
	background-color: #EC1D25;
	color: #ffffff;
	fill: #ffffff;
	border: 2px solid #EC1D25;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}

.transparent2-btn {
	display: inline-block;
	text-align: center;
	font-size: 16px;
	font-weight: 900;
	color: #424242;
	padding: 10px 20px;
	transition: all 0.3s ease-in;
	letter-spacing: 1px;
	border: 2px solid #424242;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Montserrat';
	border-radius: 66px;
	min-width: 250px;
	fill: #424242;
	text-transform: uppercase;
	text-align: center;
}

.transparent2-btn:hover {
	background-color: #EC1D25;
	color: #ffffff;
	fill: #ffffff;
	border: 2px solid #EC1D25;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}

.transparent2-btn svg,
.primary-btn svg,
.transparent-btn svg {
	margin-left: 10px;
	margin-top: -2px;
}

.hover-text-white:hover,
.hover-text-white:hover svg {
	color: #ffffff;
	fill: #ffffff;
}

/*============================== 3.BUTTON END ==============================*/

/*========================= 4.NAVIGATION START ===================================*/
.pre-header {
	padding: 10px 20px;
  border-bottom: 1px solid #eee;
}
.pre-header .contact-items {
	display: flex; 
	justify-content:left;
	align-items: center;
	margin-bottom: 5px;
}
.nav-style {
	color: #000;
	font-family: "Montserrat";
	font-size: 18px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	padding-left: 20px !important;
	padding-right: 20px !important;
	transition: all .5s ease;
}

.navbar-nav li.safari-menu {
	padding: 30px 0;
	transition: all .5s ease;
}

.navbar-nav li.safari-menu:hover {
	margin-top: -25px;
	transition: all .5s ease;
}

.navbar-nav li.safari-menu.logo-style:hover {
	margin-top: 0;
	transition: all .5s ease;
}

.navbar-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-style {
	padding: 20px 30px;
}

.navbar-toggler {
	float: right;
	display: table;
	margin-left: auto;
}

button:focus:not(:focus-visible) {
	box-shadow: none !important;
}

.navbar-toggler>.close {
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: center;
}

.navbar-toggler>.close {
	display: flex;
}

.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
	display: none;
}

.mm-menu {
	position: relative;
}

.mm-menu .mega-menu {
	position: absolute;
	width: 700px;
	z-index: 9;
	background-color: #fff;
	padding: 30px;
	border-top: 3px solid #EC1D25;
	top: 95px;
	display: none;
}
.mm-menu.menu .mega-menu {
	width: 300px;
}
.mm-menu:hover .mega-menu {
	display: block;
}

.mm-menu .mega-menu li svg {
	fill: #EC1D25;
	margin-right: 8px;
	transition: all .5s ease;
}

.mm-menu .mega-menu li:hover svg {
	fill: #EC1D25;
	margin-right: 15px;
	transition: all .5s ease;
}

.mm-menu .mega-menu li {
	padding-bottom: 15px;

}

.mm-menu .mega-menu li a {
	color: #000;
	font-family: "Montserrat";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	transition: all .5s ease;
}

.mm-menu .mega-menu li:last-child {
	padding-bottom: 0;
}

.menu-social-share {
	display: flex;
	align-items: center; 
}
.menu-social-share li {
	margin: 0 10px;
}

.icons-social {
	width: 15px;
	height: 15px;
}
.social-icons li svg {
	width: 15px;
	height: 15px;
}
.social-f-icons li svg {
	width: 25px;
	height: 25px;
}
/*================================================= 4.NAVIGATION END =============================================*/

/*================================================= 5.HEADER START =================================================*/
.header-testimonial.owl-theme.animated {
	-webkit-animation-duration: 0 ms !important;
	animation-duration: 0 ms !important;
	-webkit-animation-fill-mode: both !important;
	animation-fill-mode: both !important;
  }
  .header-testimonial.owl-theme.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
  }
  @-webkit-keyframes fadeOut {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  @keyframes fadeOut {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
.header-testimonial.owl-theme .owl-nav {
	display: flex;
  margin: 0 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  left: 0;
  right: 0;
}
.header-testimonial.owl-theme .owl-nav .owl-prev {
	display: table;
    margin-right: auto;
    margin-left: 0;
}
.header-testimonial.owl-theme .owl-nav .owl-next {
	display: table;
    margin-right: 0;
    margin-left: auto;
}
.splide__track {
  width: 100%;
  height: 520px;
  overflow: hidden;
}

.splide__list {
  width: 100%;
  height: 100%;
  position: relative;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0;
}

.splide__slide.is-active{
  z-index: 1;
  opacity: 1;
}

ul {
  list-style: none;
}
.slider-header .owl-demo .owl-controls,
.slider-header .owl-demo .owl-dots {
	margin-top: 15px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}
.slider-header#owl-demo .item {
	margin: 0;
}

.slider-header#owl-demo .owl-pagination {
	display: none;
	padding-top: 0px;
}

.owl-carousel {
	position: relative;
	height: 100%;
}

.slider-image1 {
	background: url("../../images-raack/header-1.png");
	background-size: cover;
	background-repeat: no-repeat;  
	Background-position: center;
}


.slider-image2 {
background: url("../../images-raack/header-2.png");
background-size: cover;
background-repeat: no-repeat;
	Background-position: center;
}

.slider-image3 {
background: url("../../images-raack/header-3.png");
background-size: cover;
background-repeat: no-repeat;
	Background-position: center;
} 


.slider-image4 {
background: url("../../images-raack/header-4.png");
background-size: cover;
background-repeat: no-repeat; 
	Background-position: center;
} 
.slider-header .header-content {
	letter-spacing: 1px;
} 
.stroke-text,
.header-testimonial h1 strong {
	color: #FFF;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 70px;
	line-height: 70px;
}

.stroke-text-black {
	color: #FFF;
	font-weight: 900;
	letter-spacing: 0.39px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #111827;
}
.video-padding {
  padding: 350px 0 60px 0;
}
.video-section .buttonBar {
	display: none;
}
.player {
	font-size: 1px;
}

#myVideo { 
  min-width: 100%; 
  min-height: 100%;
}
/*======================================== 5.HEADER END ==============================*/

/*=============================== 6.COUNTER AREA START ============================*/
.counter-box {
	padding: 80px 60px;
	text-align: center;
	border-radius: 66px;
	background-image: url("../../images-raack/decor.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.count-num {
	font-size: 40px;
	font-family: "Montserrat";
	line-height: 60px;
	font-weight: 900;
	letter-spacing: 1px; 
	color: #EC1D25;
}

.counter-box p {
	color: #EC1D25;
	font-family: "Montserrat";
	font-size: 40px;
	font-style: normal;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0.4px;
}

.title-counterup { 
	color: #EC1D25;
	font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 22px;
}

.count-text {
	color: #000;
	font-family: "Montserrat";
	font-size: 28px;
	font-style: normal;
	font-weight: 900;
	line-height: 38px;
	letter-spacing: 0.215px;
}

/*============================== 6.COUNTER AREA END ===========================*/

/*=============================== 7.HOME ACADEMY AREA START ============================*/
.academy-are {
	color: #000;
	font-weight: 400;
}

.academy-raack {
	color: #EC1D25;
	font-weight: 900;
}

.studios-ul-img {
	text-align: right;
	margin-top: -30px;
	padding-left: 95px;
}

/*Vertical Sliding*/
.wordtype-home .slidingVertical {
	position: relative;
}

.wordtype-home .slidingVertical span {
	display: inline;
	text-indent: 8px;
}

.wordtype-home .slidingVertical span {
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.wordtype-home .slidingVertical span:nth-child(2) {
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}

.wordtype-home .slidingVertical span:nth-child(3) {
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}

.wordtype-home .slidingVertical span:nth-child(4) {
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}

.wordtype-home .slidingVertical span:nth-child(5) {
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom {
	0% {
		opacity: 0;
	}

	5% {
		opacity: 0;
		-moz-transform: translateY(-50px);
	}

	10% {
		opacity: 1;
		-moz-transform: translateY(0px);
	}

	25% {
		opacity: 1;
		-moz-transform: translateY(0px);
	}

	30% {
		opacity: 0;
		-moz-transform: translateY(50px);
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes topToBottom {
	0% {
		opacity: 0;
	}

	5% {
		opacity: 0;
		-webkit-transform: translateY(-50px);
	}

	10% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}

	25% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}

	30% {
		opacity: 0;
		-webkit-transform: translateY(50px);
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-ms-keyframes topToBottom {
	0% {
		opacity: 0;
	}

	5% {
		opacity: 0;
		-ms-transform: translateY(-50px);
	}

	10% {
		opacity: 1;
		-ms-transform: translateY(0px);
	}

	25% {
		opacity: 1;
		-ms-transform: translateY(0px);
	}

	30% {
		opacity: 0;
		-ms-transform: translateY(50px);
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

/*============================== 7.HOME ACADEMY AREA END ===========================*/

/*=============================== 8.HOME VIDEO AREA START ============================*/
.home-video-bg {
	background-image: url("../../images-raack/home-video-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 340px 0;
}

.wrapper {
	position: relative;
}

.wrapper .circle {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: table;
	transform: translateY(-50%);
}

.wrapper svg {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-linejoin: round;
	stroke-width: 5;
	transition: all 0.3s;
}


.video-ul-img {
	margin-top: -5px;
	margin-left: 20px;
	width: 120px;
}
.team-slider {
	display: flex;
	align-items: center;
	position: relative;
}
.team-slider .team-ul-img {
	position: absolute;
  left: 220px; 
  margin-top: 10px;
}

.client-logo-slider {
	display: flex;
	align-items: center;
	position: relative;
}
.client-logo-slider .team-ul-img {
	position: absolute;
  left: 220px;  
}

.client-logo-slider .team-ul-img-right {
	position: absolute;
  right: 220px;  
}

.testimonial-slider {
	display: flex;
	align-items: center;
	position: relative;
}
.testimonial-slider .team-ul-img-right {
	position: absolute;
  right: 25px; 
  margin-top: 10px;
}
/*============================== 8.HOME VIDEO AREA END ===========================*/

/*=============================== 9.PHILOSOPHY AREA START ============================*/
.sandal-bg {
	border-radius: 66px;
	background: linear-gradient(105deg, #FFF3BE 2.21%, #FFD29D 98.28%);
}

.content-philosophy {
	padding: 30px;
}

.philo-disc {
	color: #000;
	font-style: italic;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: 400;
	letter-spacing: 0.504px;
}

.person {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}
.container-team {
  height: 312px;
  width: 400px;
  cursor: pointer;
  transform: scale(0.48);
  transition: transform 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
.person .circle {
  position: absolute;
  background: var(--color);
  height: 380px;
  width: 380px;
  top: 210px;
  left: 10px;
  border-radius: 50%;
}
.person img {
  position: relative;
  width: 340px;
  top: 164px;
  left: 22px;
  transform: translateY(20px) scale(1.15);
  transition: transform 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
.conianer-inner {
  position: relative;
  clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
  top: -200px;
} 
.person h1 {
  color: #464646;
  margin: 16px 0 0 0;
}
.person p {
  font-family: arial;
  color: #6e6e6e;
  font-size: 14px;
  margin-top: 5px;
}
/* hover */
.container-team:hover {
  transform: scale(0.54);
} 
.container-team:hover img {
  transform: translateY(0) scale(1.3);
}
/*============================== 9.PHILOSOPHY AREA END ===========================*/

/*============================== 10.CLIENT AREA START ===========================*/
.home-logo-alider {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}

.home-logo-alider .feature-circle-img {
	position: relative;
	display: block;
	width: auto;
	margin: 0 auto;
	opacity: 1;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.home-logo-alider:hover .feature-circle-img {
	-webkit-transition: opacity .5s cubic-bezier(0, .99, .06, .95), -webkit-transform .3s cubic-bezier(0, .84, .58, 1);
	transition: opacity .5s cubic-bezier(0, .99, .06, .95), transform .3s cubic-bezier(0, .84, .58, 1);
	opacity: 0;
	-webkit-transform: translateX(-5%);
	-moz-transform: translateX(-5%);
	transform: translateX(-5%);
}

.home-logo-alider .feature-circle-hover-image {
	position: absolute;
	top: 0;
	left: 50%;
	width: auto;
	opacity: 0;
	z-index: 100;
	-webkit-transform: translateX(-45%);
	-moz-transform: translateX(-45%);
	transform: translateX(-45%);
	-webkit-transition: opacity .1s ease-out, -webkit-transform 0s .1s;
	transition: opacity .1s ease-out, transform 0s .1s;
}

.home-logo-alider:hover .feature-circle-hover-image {
	opacity: 1;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: opacity .15s ease-out, -webkit-transform .4s cubic-bezier(.38, 2, .57, 1.2);
	transition: opacity .15s ease-out, transform .4s cubic-bezier(.38, 2, .57, 1.2);
}

.client-circle-img {
	width: 250px;
	height: 250px;
}

.client-div {
	padding: 0;
}

.client-div .logo-com:after {
	border-right: 2px solid #ccc;
	padding-right: 20px;
	content: "";
	height: 150px;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.client-div .logo-com:before {
	content: "";
	border-bottom: 2px solid #ccc;
	width: 300px;
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}

.logo-com {
	position: relative;
}

.client-div:nth-child(3) .logo-com:after,
.client-div:nth-child(6) .logo-com:after {
	border-right: 0;
}

.client-div:nth-child(4) .logo-com:before,
.client-div:nth-child(5) .logo-com:before,
.client-div:nth-child(6) .logo-com:before {
	border-bottom: 0;
}

.client-logo-border {
	background-color: #EC1D25;
}

/*============================== 10.CLIENT AREA END ===========================*/

/*============================== 11.CTA AREA START ===========================*/
.cta-bg-img {
	background: url("../../images-raack/cta-bg-img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*============================== 11.CTA AREA END ===========================*/

/*============================== 12.TESTIMONIAL AREA START ===========================*/
#team-slider .item {
	margin: 0 20px;
}
.home-testimonial .owl-theme .owl-controls .owl-buttons {
	font-size: 50px;
}
#team-slider .owl-prev svg,
#team-slider .owl-next svg {
	fill: #424242;
}

#team-slider .owl-next {
	background-color: #ffffff;
	display: table;
	width: auto;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px 15px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5), 0 1px 2px rgba(0, 0, 0, .06);
}

#team-slider .owl-prev {
	background-color: #ffffff;
	display: table;
	width: auto;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5), 0 1px 2px rgba(0, 0, 0, .06);
	padding: 10px 15px;
}

.client-testimonial.owl-theme .owl-nav [class*="owl-"] {
	fill: #333;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
}
.team-destination {
	color: #6b7280;
	font-size: 14px;
	font-weight: 900;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.testi-title {
	color: #000;
	text-align: center;
	font-family: 'Grand Hotel';
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px;
	/* 77.827px */
	letter-spacing: 0.35px;
}

.quote {
	margin-bottom: 10px;
}

.quote svg {
	fill: #EC1D25;
	width: 70px;
	height: 70px;
}

.section-head-space {
	margin-bottom: 30px;
}

.testimonial .owl-buttons {
	fill: #333 !important;
}

.testimonial .owl-next {
	position: absolute;
	right: -100px;
}

.testimonial .owl-prev {
	width: 100%;
	text-align: left;
	position: absolute;
	left: -100px;
}

.testimonial-card {
	margin: 0 20px;
}

/*============================== 12.TESTIMONIAL AREA END ===========================*/

/*============================== 13.FORM AREA START ===========================*/
select:focus-visible,
input.form-input:focus-visible {
    outline: unset;
}
label.error {
	color: #ff0000;
	font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  }
select,
form input {
	border: 0;
	border-bottom: 1px solid #dcdcdc;
	width: 100%;
	padding: 10px 20px 5px 20px;
	background-color: transparent;
	color: #333333;
}

form .form-field {
	margin-bottom: 15px;
}

input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #333333;
	opacity: 1;
	/* Firefox */
}

/*============================== 13.FORM AREA END ===========================*/

/*============================== 14.CONTACT PAGE AREA START ===========================*/
.contact-bg-img {
	background: url("../../images-raack/contact/header.png"), lightgray -5.781px -159.958px / 103.028% 180.07% no-repeat;
	/* border-radius: 66px; */
	box-shadow: 0px 4px 10px 250px rgba(0, 0, 0, 0.20) inset;
	padding: 350px 0 60px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.contact-social-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-social-icon li svg {
	margin: 10px 10px 0;
	width: 24px;
	height: 24px;
}

.form-contact-content {
	position: absolute;
	bottom: 30px;
	padding: 0 30px;
}
footer .last-ul ul li {
	text-align: left;
}
/*============================== 14.CONTACT PAGE AREA END ===========================*/
/*============================== 15.FRANCHISE PAGE AREA START ===========================*/
.fran-ul {
	margin-top: -120px;
	;
}

.service-num {
	color: #DADADA;
	font-size: 180px;
	font-style: normal;
	font-weight: 900;
	line-height: 180px;
	/* 200.127px */
	letter-spacing: 0.9px;
}

.service-sec {
	display: flex;
	align-items: center;
}

.ser-head {
	margin-left: -55px;
	margin-top: 70px;
	color: #111827;
}

/* FRANCHISE TWO */
.franschise-bg-img {
	background-color: #FFF1B1;
	border-radius: 66px;
}

.fran2-ul {
	position: absolute;
	right: 40px;
	top: 80px;
}

.fran2-ul-2 {
	position: absolute;
	left: 40px;
}

/*============================== 15.FRANCHISE PAGE AREA END ===========================*/

/*============================== 16.CAREERS PAGE AREA START ===========================*/
.career-bg-img {
	background: url("../../images-raack/careers/header.png"), lightgray -13.406px -151.95px / 101.022% 172.609% no-repeat;
	border-radius: 66px;
	padding: 270px 0 60px 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.career-ul {
	position: relative;
	top: 5px;
}

.our-event {
	border-radius: 22px;
	background: #FFF4F4;
	padding: 30px;
	width: 80%;
	margin: 0 auto;
}

.event-sec {
	display: flex;
	align-items: center;
	justify-content: center;
}

.event-sec img {
	margin-right: 10px;
}

.event-btns {
	display: flex;
	align-items: center;
	justify-content: right;
}

.event-btns>button {
	margin-right: 20px;
}

.event-btns>a {
	margin-right: 20px;
}

.event-content {
	margin-top: 30px;
}

.event-content ul {
	list-style: disc;
}

.event-content ul li {
	margin-left: 20px;
}

.event-gallery-show .section-content {
	width: 50%;
}

/*============================== 16.CAREERS PAGE AREA END ===========================*/

/*============================== 17.FACULTIES TRAINING ACADEMY PAGE AREA START ===========================*/
.faculties-bg-img {
	background: url("../../images-raack/faculties/header.jpg");
	border-radius: 66px;
	padding: 300px 0 60px 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.section-gray-bg-2 {
	background-color: #FAFAFA;
}

.align-top {
	display: inline;
	vertical-align: top;
}

.fta-page .hst-pop-modal.modal {
	height: auto;
	overflow: hidden;
}

/*============================== 17.FACULTIES TRAINING ACADEMY PAGE AREA END ===========================*/

/*============================== 18. PAGE AREA START ===========================*/
.primary-btn.btn-disabled,
.primary-btn.btn-disabled:hover {
	background-color: rgb(242, 106, 111);
	border-color: rgb(242, 106, 111);
	color: #ffffff;
	padding: 10px 60px;
	cursor: none;
}

.section-dark-bg-2 {
	background-color: #191919;
}

.event-book-bg-img {
	background: url("../../images-raack/courses/header.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
	width: 100%;
} 

.book-day-col {
	font-size: 50px;
	font-weight: 900;
	line-height: 60px; 
}
.book-day-col .countdown {
	font-size: 90px;
	font-weight: 900;
}

.heal-the-world-about {
	position: relative;
}
.heal-the-world-about svg {
	width: 80px;
	height: 80px;
	fill:  #EC1D25;
}
.heal-the-world-about span {
	font-size: 150px;
	line-height: 150px;
	font-weight: 400;
	position: absolute;
	top: 0;
}
.happy-feet {
	display: flex;
	align-items: center;
}
.happy-feet h1 {
	font-size: 150px;
	line-height: 150px;
	font-weight: 400; 
} 
.health-world-1200 {
	font-size: 150px;
	line-height: 100px;
	font-weight: 300;	
	color:  #EC1D25;
}
.health-world-1200-com h3 {
	line-height: 55px;
}
.text-right {
	text-align: right;
}
.img-overlap-top{
	margin-top: -80px;
}
.inner-head {
	position: absolute;
	top: 60px;
}
.inner-head-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.inner-head-bottom {
	position: absolute;
	bottom: 60px;
}
.inner-head-bottom-right {
	position: absolute;
	bottom: 60px;
	right: 60px;
}
/*============================== 18. PAGE AREA END ===========================*/
/*============================== 19.GALLERY PAGE AREA START ===========================*/
.gallery-bg-img {
	background: url("../../images-raack/gallery/header.jpg");
	padding: 60px 0 250px 0;
	background-size: cover;
	background-repeat: no-repeat;
	Background-position: center;
}

.gallery-slider .item {
	padding: 20px 10px;
}

.gallery-ul {
	margin-top: -50px;
}

.gallery-btns {
	display: flex;
	align-items: center;
	justify-content: center;
}

.gallery-btns .primary-btn {
	margin-right: 20px;
}

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 97vh;
  border-radius: 25px;
}
/*
iframe {
  min-width: 100%;
  height: 100%;
  z-index: 1;
} */
/*============================== 19.GALLERY PAGE AREA END ===========================*/

/*============================== 20.STUDIOS PAGE AREA START ===========================*/
.studio-bg-img {
	padding: 300px 0 60px 0;
	background-size: cover;
	background-repeat: no-repeat;
	Background-position: center;
}
.w-70 {
	width: 70%;
}	

.studio-locate {
	width: 85%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}

.studio-locate li {
	display: inline-block;
	padding: 10px 0;
}

.studio-locate li a {
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	margin: 2px;
}

.studio-locate li.active a,
.studio-locate li:hover a {
	color: #ffffff;
	border-radius: 66px;
	background-color: #EC1D25;
}

section.calendar-tabs .custom-select select {
	border: 1px solid #fff;
	border-radius: 8px;
	color: #e5e7eb;
	font-size: 14px;
	font-weight: 900;
	height: 58px;
	text-transform: uppercase;
}

.custom-select select {
	border: 1px solid #444;
	border-radius: 6px;
	color: #444;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	height: 46px;
	padding: 0 35px 0 13px;
	width: 100%;
}

.filters {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	background: #ccc;
	padding: 15px;
	border-radius: 15px;
}

.filters .fill-select-1.custom-select {
	margin-right: 20px;
}

.location-map {
	max-width: 100%;
  height: 500px;
  width: 100%;
}
.branch-head-img {
	width: 300px;
  /* height: 400px; */
}
.branch-head-name {
	display: table;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 325px;
}
.branch-head-name button {
min-width: 100%;
  padding: 20px 20px !important;
  }
.studio-contact-bg {
	background: url("../../images-raack/icons/studio-contact-bg.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
}
/*============================== 20.STUDIOS PAGE AREA END ===========================*/

/*============================== 21.COURSES PAGE AREA START ===========================*/
.courses1-bg-img {
	background: url("../../images-raack/courses/header.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 350px 0;
	width: 100%;
}

.courses2-bg-img {
	background: url("../../images-raack/courses/header2.png");
	border-radius: 66px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 270px 0 50px 0;
	width: 100%;
}

.courses-header {
	text-align: center;
	width: 39%;
	margin: 0 auto;
}
.owl-pagination {
	display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px !important;
}
.owl-theme .owl-controls .owl-page span {
	background: #000000;	
}
/*============================== 21.COURSES PAGE AREA END ===========================*/

/*============================== 22.SINGLE COURSES PAGE AREA START ===========================*/
.single-course-bg-img {
	background: url("../../images-raack/home-video-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0 ;
	background-position: center;
}

.mob-position-relative {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
}

div.mobile-wrapper {
	box-sizing: border-box;
	background: url(https://juliamenndez.com/wp-content/uploads/mobile-frame.png) center center no-repeat;
	background-size: contain;
	padding: 7% 38.4% 12.8%;
	;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* .mobile-wrapper .owl-carousel {
z-index: -1;
} */
.mobile-wrapper .owl-theme .owl-controls .owl-buttons {
	fill: #333;
}

.mobile-wrapper .owl-prev {
	float: left;
	width: 100%;
	text-align: left;
	position: absolute;
	right: 100%;
}

.mobile-wrapper .owl-next {
	width: 100%;
	position: absolute;
	left: 100%;
	float: right;
	text-align: right;
}

.mobile-wrapper .owl-prev>span,
.mobile-wrapper .owl-next>span {
	font-size: 18px;
	line-height: 28px;
}

.feature-circle-img1.img-fluid {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	display: table;
	margin: 0 auto;
}

.single-course-arrow {
	float: right;
	position: absolute;
	right: 220px;
	bottom: -150px;
	display: flex;
	align-items: first baseline;
}

.single-course-text {
	color: #000;
	text-align: center;
	font-family: 'Grand Hotel';
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 38px;
	letter-spacing: 0.35px;
	transform: rotate(-25deg);
}

/*============================== 22.SINGLE COURSES PAGE AREA END ===========================*/
#event-gallery-slider .item {
	margin: 0 10px;
}

#event-gallery-slider svg {
	fill: #ffffff;
	background-color: #d3104d;
	padding: 5px 10px;
	width: 30px;
	height: 30px;
}

.hpy-feet-box {
	padding: 30px;
	background-color: #dcdcdc;
	border-radius: 20px;
}

.hpy-feet-box li {
	margin-bottom: 5px;
}

.hpy-feet-box li:last-child {
	margin-bottom: 0;
}

.hpy-feet-box li svg {
	fill: #EC1D25;
	margin-right: 5px;
}

.hst-pop-modal-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 1;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	display: none;
}

.hst-pop-modal-wrapper {
	z-index: 9999999 !important;
}

.hst-pop-modal-wrapper:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.05em;
}





.hst-pop-modal-wrapper-1 {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 1;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	display: none;
}

.hst-pop-modal-wrapper-1 {
	z-index: 9999999 !important;
}

.hst-pop-modal-wrapper-1:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.05em;
}
.hst-pop-modal.modal-1 {
	display: none;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.8);
	max-width: 1100px;
	width: 100%;
	padding: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	-o-box-shadow: 0 0 10px #000;
	-ms-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	text-align: center;
	height: 600px;
}

#header-testimonial1 .hst-pop-modal.modal-1 {
	padding: 0;
}

#header-testimonial1 .hst-pop-modal-wrapper-1 {
	padding:0;
	top: 50%;
	transform: translateY(-50%);
}
#header-testimonial1 .hst-pop-modal-wrapper-1::before {
	display: table;
}
#header-testimonial1  #hst-pop-modal_name {
	position: absolute;
  top: 0px;
  left: 0px;
}
.btn-hst-pop-modal {
	text-decoration: none;
}

.hst-pop-modal {
	z-index: 1111827;
	position: relative;
}

.hst-pop-modal.modal {
	display: none;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.8);
	max-width: 600px;
	width: 100%;
	padding: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	-o-box-shadow: 0 0 10px #000;
	-ms-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	text-align: center;
	height: 500px;
}

.hst-pop-modal h3 {
	color: #fff;
}

.hst-pop-modal .hst-pop-modal-title {
	margin-bottom: 15px;
}

.hst-pop-modal p {
	color: #fff;
}

.close-hst-pop-modal {
	position: absolute;
	top: 5px;
	right: 0;
	display: block;
	width: 30px;
	height: 30px;
}

.close-hst-pop-modal svg {
	fill: #fff;
	width: 18px;
}

.popup-form .header-form h4 {
	margin-bottom: 20px;
	color: #cccccc;
}

.popup-form fieldset {
	max-width: 100% !important;
	margin-bottom: 20px !important;
}

.popup-form .header-form form .hs-input {
	background-color: transparent;
	border: 0 !important;
	border-bottom: 1px solid #dcdcdc;
	height: 45px !important;
	border-radius: 0 !important;
	color: #333333;
	font-weight: 600;
}

/* Form Mode -1 */
.popup-form .fmodel1.header-form form .hs-input {
	border: 0 !important;
	border-bottom: 1px solid #dcdcdc !important;
}

/* Form Mode -2 */
.popup-form .fmodel2.header-form form .hs-input {
	border: 1px solid #dcdcdc !important;
	padding: 10px 20px;
}

.popup-form .header-form form .form-columns-1 .hs-input {
	width: 100% !important;
}

.popup-form .header-form form .hs-fieldtype-textarea {
	margin-top: 10px;
}

.popup-form .hs-form label {
	color: #999999;
	font-weight: 600;
}

.popup-form form.hs-form .hs-form-booleancheckbox-display input[type=checkbox] {
	width: auto !important;
}

.popup-form .inputs-list>li {
	display: inline-block !important;
	margin: 0 0 !important;
	padding: 0 !important;
	width: 100% !important;
}

.popup-form form .hs-richtext,
form .hs-richtext p {
	font-size: .875rem;
	margin: 0 0 5px !important;
}

.popup-form .legal-consent-container .hs-form-booleancheckbox-display>span {
	display: table-cell !important;
	margin-left: 20px !important;
}

.popup-form .legal-consent-container .hs-form-booleancheckbox-display input {
	float: none !important;
	display: table-cell !important;
	vertical-align: middle !important;
}

.popup-form label.hs-form-booleancheckbox-display {
	display: table !important;
}

.popup-form .legal-consent-container .hs-form-booleancheckbox-display input {
	float: none !important;
	display: table-cell !important;
	vertical-align: middle !important;
}

.popup-form .contact-form-background {
	border: 1px solid #dcdcdc !important;
	padding: 20px;
	background: rgba(255, 255, 255, 0);
}

.popup-form .hs_error_rollup {
	display: none;
}

.modal img {
	max-width: 100%;
	height: auto;
}

/*===================== 23.MEDIA QUERIES START =====================*/

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.res-tab-margin-bottom {
		margin-bottom: 30px;
	}

	.single-course-arrow {
		float: none;
		position: relative;
		right: -250px;
		bottom: -10px;
	}

	.single-recreate-content .gallery-btns {
		display: table;
	}
}

@media only screen and (max-width: 575px) {
	
	
.client-logo-slider .course-ul-img-right {
	right: inherit;
	left: 0;
	position: inherit;
}
	h1 {
		font-size: 30px;
		line-height: 40px;
	}

	h2 {
		font-size: 25px;
		line-height: 35px;
	}

	h3 {
		font-size: 20px;
		line-height: 30px;
	}

	h4 {
		font-size: 18px;
		line-height: 28px;
	}

	h5 {
		font-size: 16px;
		line-height: 26px;
	}

	h6 {
		font-size: 14px;
		line-height: 24px;
	}

	.mm-menu .mega-menu {
		width: 300px !important;
	}

	.res-row-margin-bottom {
		margin-bottom: 30px;
	}

	.res-row-margin-bottom-menu {
		margin-bottom: 15px;
	}

	.res-text-center {
		text-align: center;
	}

	.wrapper .circle,
	.wrapper .circle img {
		width: 40px;
		height: 40px;
	}

	.home-video-bg {
		background-size: contain;
		padding: 140px 0;
	}

	.section-padding-bottom {
		padding-bottom: 20px;
	}

	.phylosophy-ul-img {
		width: 80px;
		margin-top: 5px;
		margin-bottom: 20px;
	}

	.event-head {
		margin-bottom: 15px;
	}

	.event-btns {
		display: inline-grid;
	}

	.event-btns>button {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.careers-ul.fran2-ul-2 {
		position: inherit;
		float: none;
	}

	.single-recreate-content .gallery-btns {
		display: table;
	}

	.single-course-arrow {
		float: none;
		position: relative;
		right: -70px;
		bottom: -10px;
	}

	.gallery-btns,
	.gallery-btns .transparent2-btn {
		display: table;
	}

	.transparent-btn,
	.transparent2-btn,
	.primary-btn {
		font-size: 12px;
		line-height: 22px;
		padding: 5px 20px;
		min-width: 150px;
	}

	.transparent2-btn svg,
	.primary-btn svg,
	.transparent-btn svg {
		margin-left: 5px;
	}

	.gallery-btns .primary-btn {
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	h1 {
		font-size: 40px;
		line-height: 50px;
	}

	h2 {
		font-size: 37px;
		line-height: 47px;
	}

	h3 {
		font-size: 33px;
		line-height: 43px;
	}

	h4 {
		font-size: 28px;
		line-height: 38px;
	}

	h5 {
		font-size: 20px;
		line-height: 30px;
	}

	h6 {
		font-size: 16px;
		line-height: 26px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	h1 {
		font-size: 45px;
		line-height: 55px;
	}

	h2 {
		font-size: 35px;
		line-height: 45px;
	}

	h3 {
		font-size: 32px;
		line-height: 42px;
	}

	h4 {
		font-size: 28px;
		line-height: 38px;
	}

	h5 {
		font-size: 22px;
		line-height: 32px;
	}

	h6 {
		font-size: 17px;
		line-height: 27px;
	}

	.section-margin-bottom {
		margin-bottom: 12px;
	}

	.img-margin-bottom {
		margin-bottom: 23px;
	}

	section,
	.section-space {
		padding-bottom: 60px !important;
		padding-top: 60px !important;
	}

	.sandal-bg .align-items-center {
		align-items: end !important;
	}

	.our-event {
		width: 100%;
	}

	.event-gallery-show .video-ul-img {
		margin-left: 20px !important;
	}

	.event-book-header,
	.courses-header {
		width: 80%;
	}

	div.mobile-wrapper {
		padding: 7.7% 38.4% 12.8%;
	}

	.single-course-arrow {
		float: none;
		position: relative;
		right: -250px;
		bottom: -10px;
	}

	.single-recreate-content .gallery-btns {
		display: table;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	h1 {
		font-size: 48px;
		line-height: 58px;
	}

	h2 {
		font-size: 45px;
		line-height: 55px;
	}

	h3 {
		font-size: 38px;
		line-height: 48px;
	}

	h4 {
		font-size: 30px;
		line-height: 40px;
	}

	h5 {
		font-size: 23px;
		line-height: 33px;
	}

	h6 {
		font-size: 18px;
		line-height: 24px;
	}

	.fixed-top .nav-btn {
		padding: 27px 58px
	}

	.testimonial .owl-prev {
		left: -50px;
	}

	.testimonial .owl-next {
		right: -50px;
	}

	.single-course-arrow {
		float: none;
		position: relative;
		right: -250px;
		bottom: -10px;
	}

	.single-recreate-content .gallery-btns {
		display: table;
	}

	.gallery-btns .primary-btn,
	.gallery-btns .transparent2-btn {
		min-width: 100px !important;
		padding: 10px 15px !important;
	}
	.counter-box {
		padding: 80px 20px;
	}
}

@media only screen and (max-width: 767px) {

	.pre-header .contact-items { 
		justify-content:center !important; 
		margin-bottom: 15px;
	}
	.section-margin-bottom {
		margin-bottom: 10px;
	}

	.intro-content {
		font-size: 16px;
		line-height: 28px;
	}

	.img-margin-bottom {
		margin-bottom: 10px;
	}

	.section-heading {
		width: 100%;
		padding-bottom: 30px;
	}

	section,
	.section-space {
		padding-bottom: 50px !important;
		padding-top: 50px !important;
	}

	body {
		font-size: 14px;
	}

	.res-margin-bottom {
		margin-bottom: 30px;
	}

	.res-margin-auto {
		margin: 0 auto;
	}
	.res-margin-auto .menu-social-share {
		justify-content: center !important;
	}
	.footer-logo {
		text-align: center;
	}
	.video-ul-img {
		margin-top: 0;
		margin-left: 0;
		display: table;
		margin: 0 auto;
	}

	.auther-com {
		text-align: right;
	}

	.client-div {
		border: 0;
	} 
	.res-textcenter-767 {
		text-align: center;
	}

	.event-btns {
		justify-content: center;
		margin-top: 20px;
	}

	.event-head {
		text-align: center;
	}

	.event-book-header,
	.courses-header {
		width: 100%;
	}

	.mobile-wrapper .owl-prev>span,
	.mobile-wrapper .owl-next>span {
		display: none;
	}

	div.mobile-wrapper {
		background: none;
		padding: 0;
		position: inherit;
	}

	.mob-position-relative {
		position: inherit;
		padding-top: 0;
		padding-bottom: 0;
		height: 100%;
	}

	.mobile-wrapper .owl-prev {
		right: 0;
	}

	.mobile-wrapper .owl-next {
		left: 0;
	}
	.book-day-col .countdown {
		font-size: 50px;
		font-weight: 900;
	}
}

@media only screen and (max-width: 414px) {
	.guest-form input {
		width: 100%;
	}
}

@media only screen and (max-width: 991px) {
	.bg-video-wrap {
		height: 100%;
	}
	.order-lg-last {
		order: -1 !important;
	}
	
	.testimonial-slider .team-ul-img-right{
		position: relative;
		left:0;
    width: 80px;
	}
	
	.client-logo-slider,
	.testimonial-slider,
	.team-slider {
		display: initial;
	}
	.client-logo-slider .team-ul-img,
.client-logo-slider .course-ul-img-right,
.team-slider .team-ul-img,
	.client-logo-slider .team-ul-img-right  {
	position: relative;
    width: 80px;
    left: 0;
    right: 0;
    display: table;
    margin: 0 auto;
}

	.nav-style {
		padding-bottom: 10px;
		padding-top: 10px;
	}

	.container {
		max-width: 100%;
	}

	.margin-auto {
		margin: 0 auto;
	}

	.navbar-collapse {
		position: absolute;
		top: 110px;
		padding: 20px;
		background-color: #EC1D25;
		left: 0;
		right: 0;
		z-index: 9;
	}

	.navbar-collapse .nav-style {
		color: #ffffff;
	}

	.nav-style {
		padding: 10px 0px !important;
	}

	.navbar-expand-lg>.container,
	.navbar-expand-lg>.container-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}

	.navbar-nav li {
		padding: 5px 0;
	}

	.navbar-nav li:hover {
		margin-top: 0 !important;
	}

	.res-bot10 {
		margin-bottom: 20px;
	}

	.res-bot20 {
		margin-bottom: 20px;
	}

	.res-width-padding-bottom {
		padding-bottom: 30px;
	}

	.philo-auther {
		border-bottom-left-radius: 66px;
	}

	.res-left-mar0 {
		margin-left: 0;
	}

	.res-display-none {
		display: none;
	}

	.studios-ul-img {
		padding-left: 15px;
		margin-top: -10px;
		float: none;
		margin-bottom: 10px;
	}

	.testimonial .owl-prev {
		left: 0;
	}

	.testimonial .owl-next {
		right: 0;
	}

	.com-ul-img.float-right {
		margin-bottom: 10px;
		margin-top: 30px;
		float: left;
	}

	.gallery-ul,
	.fran-ul {
		margin-top: 10px;
		float: none;
	}

	.res-textcenter {
		text-align: center;
	}

	.fran2-ul {
		float: none;
		display: table;
		margin: 0 auto;
		position: inherit;
		margin-bottom: 15px;
	}

	.single-course.float-right {
		float: none;
		margin-left: 0 !important;
		margin-top: 20px;
	}

	.event-gallery-show .section-content {
		width: 100%;
	}

	.event-gallery-show .video-ul-img {
		margin-right: auto;
		margin-left: 0;
	}

	.mobile-wrapper .feature-circle-img {
		border-radius: 0 !important;
	}

	.client-div .logo-com:after {
		content: "";
		border-right: 0;
	}

	.client-div .logo-com:before {
		content: "";
		border-bottom: 0;
	}
	
	.res-row-margin-bottom991 {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 480px) {
	.res-mob-padding {
		padding-bottom: 30px;
	}

	.filters {
		display: table;
	}

	.filters .fill-select-1.custom-select {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.res-row-margin-bottom {
		margin-bottom: 30px;
	}

	.nav-btn-icon::before {
		display: inline-block;
		padding: 7px 12px;
		margin-right: 15px;
		border-radius: 5px;
	}

	.nav-btn {
		display: none;
	}

	.navbar-toggler {
		padding: 4px 8px;
	}

	.gr {
		top: 9px;
	}

	.nav-btn-top {
		position: absolute;
		top: 13px;
		left: 50px;
		right: 0;
		margin-right: 14px;
		margin: 0 auto;
	}

	.logo-style img {
		width: 70%;
	}

	.logo-style img {
		max-width: 40%;
	}

	.navbar-toggler-icon {
		width: 1.2em;
		height: 1.2em;
	}
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
	.nav-btn {
		width: 100%;
		text-align: center;
		padding: 20px;
		margin-right: 15px;
		display: initial;
	}

	.nav-btn-top {
		position: absolute;
		top: 19px;
		left: 0;
		right: 0;
		margin-right: 14px;
		margin: 0 auto;
	}

	.logo-style img {
		max-width: 60%;
	}

	.fixed-top .logo-style {
		width: auto;
	}

	.fixed-top .nav-btn {
		width: 100%;
		text-align: center;
		padding: 20px;
		margin-right: 15px;
		display: initial;
	} 
}

/* SAFARI MENU ISSUES*/

@media only screen and (min-width: 992px) {

	/*safari Browser*/
	.navbar-expand-lg .navbar-collapse {
		float: right !important;
		display: block !important;
		line-height: 24px !important;
	}

	.navbar-expand-lg .safari-menu {
		display: inline-block !important;
		vertical-align: middle !important;
	}
	.fs-60 {
		font-size: 60px;
		font-weight: 900;
	}
}

@media only screen and (max-width: 991px) {
	.health-world-1200 {
		font-size: 70px;
		line-height:70px;
	} 
	.com-ul-img.float-right {
		float: none;
	}

	.navbar-nav li.safari-menu {
		padding: 0;
	}

	.mm-menu .mega-menu {
		padding: 20px;
		left: 50%;
		transform: translateX(-50%);
		top: 40px;
		width: 550px;
	}
	.mar-left0 {
		margin-left: 0;
	}
	footer .last-ul ul li {
		text-align: center;
	}
}
.animate__animated {
  opacity: 1;
}
/*=================================== 23.MEDIA QUERIES END =======================================*/
.small-logo img {
	max-height: 120px;
}
.small-logo h4 {
	font-size: 24px !important;
}

.core-team-bg {
	background: url("../../images-raack/team-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	Background-position: center;
	position: realtive;
	overflow: hidden;
}

.core-team-bg img{
	z-index: 1;
	position: relative;
}

.core-team-bg:after {
	content: "";
	background-color: #ffffff;
	width: 130%;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99999;
	height: 33%;
	transform: rotate(135deg);
}

.pos-relative {
	z-index: 99999;
	position: relative;
}
.our-team img {
	position: relative;
	bottom:-40px;
	transition: all 1s ease-in-out;
}
.our-team:hover img {
	bottom: 0px;
	transition: all 1s ease-in-out;
	transition-timing-function: ease-in-out;
}
@media only screen and (max-width: 991px) {
	.core-team-bg:after {		
		height: 28%;		
	}
}

@media only screen and (max-width: 768px) {
	.core-team-bg:after {		
		height: 25%;		
	}
}

@media only screen and (max-width: 575px) {
	.core-team-bg:after {		
		height: 30%;
		bottom: -73px;		
	}
	
}
.new-header-sec {
	position: relative;
	
}
.new-header-sec h2 {
	position: absolute;
	bottom: 60px;
	right: 60px;
	color: #fff;
 }



 /* view class scedule */
 .faq .answer {
	display: none;
 }

 .faq button {
	cursor: pointer;
 }


 #course option{
	font-family:'Montserrat';
 }

 			/* table style*/
 			.calendar .item.active
              {
                  background-color: #D3104D;
              }
          
              .calendar .item
              {
                  border-left-color: #D3104D;
              }
          
              .calendar .item .badge
              {
                  color: #D3104D;
              }
          
              .calendar .item .time p
              {
                  color: #D3104D;
              }
          
              .calendar .item.active .time p
              {
                  color: white;
              }
          
              .calendar .item .lector ul li
              {
                  color: #D3104D;
              }
          
              .calendar .item.active .lector ul li
              {
                  color: white;
              }
          
              .calendar .item.active .cta a
              {
                  color: #D3104D;
              }
			  /* end table style*/